[Desktop Entry]
Name=Unikey-Wayland
GenericName=Input Method
Comment=Vietnamese Input Method for Wayland
Exec=/usr/bin/unikey-wayland
Icon=input-keyboard
Terminal=false
Type=Application
Categories=System;Utility;
X-KDE-Wayland-VirtualKeyboard=true
X-AppStream-DeveloperName=Trương Hiếu
X-Developer-Name=Trương Hiếu
