#!/usr/bin/make -f

export DH_VERBOSE = 1

%:
	dh $@ --sourcedirectory=wayland-client

override_dh_auto_configure:
	dh_auto_configure --sourcedirectory=wayland-client -- -DCMAKE_BUILD_TYPE=Release

override_dh_dwz:
	# Bỏ qua dh_dwz để tránh lỗi biên dịch do dwz không tương thích với DWARFv5 của Go
